#header {
    transition: all 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0 0 0 rgba(0,0,0,0);
    height: 12rem;
  }
  
  #logo {
    transition: all 0.4s ease;
    height: 8rem;
    margin-bottom: -4rem;
  }
  
  #header.scrolled {
    height: 4rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  #header.scrolled #logo {
    height: 2.5rem;
    margin-bottom: 0;
  }
  
  .pt-custom {
    padding-top: 7rem;
  }

  .text-red {
    color: #f92c26;
  }